* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100%;
    font-family: "Urbanist", sans-serif;
    background-color: #141414;



}

header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #1A1A1A;
    color: white;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 60px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo img {
    width: 28px;
    height: 28px;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-home {
    background-color: #141414;
    border: 1px solid #262626;
    padding: 8px 12px;
    border-radius: 8px;
}

.nav-btn button {
    background-color: #141414;
    color: white;
    padding: 10px 14px;
    border: 1px solid #262626;
    border-radius: 10px;
    gap: 8px;
}

.hero {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* background: linear-gradient(238.21deg, #2A213F 8.76%, rgba(25, 25, 25, 0) 50.09%); */

}

.hero-center-logo {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.hero-center-logo img {
    width: 135px;
    height: 135px;
}


.hero-left {
    background-color: #141414;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 50%;
    padding: 100px;
    gap: 32px;
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
}

.hero-text h1 {
    font-weight: 600;
    line-height: 120%;
    font-size: 52px;
}

.hero-text p {
    font-weight: 500;
    line-height: 150%;
    font-size: 14px;

}

.hero-btn {
    font-family: Urbanist;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;


}

.hero-btn .btn-1 {
    background-color: #141414;
    border: 1px solid #262626;
    color: white;
    border-radius: 7px;
    padding: 10px 14px;
    margin-right: 10px;
}

.hero-btn .btn-2 {
    background-color: #703BF7;
    color: white;
    padding: 10px 16px;
    border-radius: 3px;
    border: none;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
}

.hero-right img {
    width: 100%;
    height: auto;
    object-fit: cover;


}

.hero-box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero-box .box1 {
    background-color: #1A1A1A;
    color: white;
    padding: 9px 15px;
    border: 1px solid #262626;
    border-radius: 7px;

}

.box1 {
    font-family: Urbanist;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0%;

}

.box1 p {
    color: #999999;
    font-size: 12px;

}

.card {
    display: flex;
    gap: 20px;
    background-color: #141414;
    border: 1px solid #262626;
    padding: 20px;
}

.cards {
    width: 100%;
    max-width: 400px;
    height: 200px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
}

.cards p {
    color: white;
    margin-top: 15px;
}

.cards img {
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    min-height: 80vh;
    gap: 50px;
}

.hero2-text {
    font-family: Urbanist;
    /* width: 80%; */

}

.hero2-imgg {
    background-color: #141414;
    color: white;
    border: 1px solid #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    /* width: 30%; */
    flex: 1;
}

.hero2-imgg img {
    width: 300px;
    height: 200px;
    border-radius: 7px;

}

.hero2-imgg p {
    color: #999999;
    font-size: 12px;
}

.hero2-img {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.hero2-text {
    color: white;
}

.hero2-text h2 {
    font-weight: 500;
    font-size: 30px;
}

.hero2-text p {
    color: #999999;
    font-size: 12px;
}

.hero2-btn {
    display: flex;
    justify-content: space-between;
}

.hero2-btn button {
    background-color: #1A1A1A;
    border: 1px solid #262626;
    color: white;
    border-radius: 4px;
    padding: 12px 16px;
}

.icon {
    display: flex;
    background-color: #1A1A1A;
    color: white;
    padding: 6px 10px;
    border-radius: 22px;
    border: 1px solid #262626;
}

.icon img {
    width: 25px;
    height: 25px;
}

.all-btn {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    margin-top: 10px;
}

.icon span {
    background-color: #1A1A1A;
    color: white;
    /* padding: 6px 10px; */
    border-radius: 22px;
    border: none;
    font-size: 12px;
    align-items: center;
    display: flex;

}

.feature-box1 {
    margin-top: 10px;
}

.payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.payment button {
    background-color: #703BF7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
}

.hero-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    min-height: 80vh;
    gap: 50px;
}

.hero-3 h2 {
    color: white;
}

.hero-3 h4 {
    color: white;
}

.hero-3 p {
    color: #999999;
    font-size: 10px;
}

.person img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.person h4 {
    color: white;
}

.hero-3-img {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    background-color: #141414;
    color: white;
    border: 1px solid #262626;
    align-items: center;
    padding: 15px;
    gap: 50px;
    width: 80%;

}

.hero3-box {
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 8px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-3-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 80%;
}

.hero3-btn {
    display: flex;
    /* width: 80%; */
    align-items: center;
    justify-content: space-between;
}

.hero3-btn button {
    background-color: #1A1A1A;
    border: 1px solid #262626;
    color: white;
    border-radius: 4px;
    padding: 12px 16px;

}

.hero3-box .star {
    height: 34px;
    width: 200px;

}

.person {
    display: flex;
    gap: 10px;
}

.hero-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    color: white;
    min-height: 80vh;
    gap: 50px;
}

.hero-4 p {
    color: #999999;
    font-size: 12px;
}

.hero-4-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 80%;
}

.hero-4-img {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    background-color: #141414;
    color: white;
    border: 1px solid #262626;
    align-items: center;
    padding: 15px;
    gap: 50px;
    width: 80%;

}

.hero4-box {
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 8px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero4-btn {
    display: flex;
    /* width: 80%; */
    align-items: center;
    justify-content: space-between;
}

.hero4-btn button {
    background-color: #1A1A1A;
    border: 1px solid #262626;
    color: white;
    border-radius: 4px;
    padding: 12px 16px;

}

.hero4-box button {
    color: white;
    background-color: #1A1A1A;
    border: 1px solid #1A1A1A;
    padding: 10px 8px;
    border-radius: 7px;
}

.hero5 {
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(left-design.svg);
    background-position: center;
    object-fit: cover;
    color: white;
    padding: 0px 150px;
    min-height: 30vh;

}

.hero5 button {
    background-color: #703BF7;
    color: white;
    padding: 10px 14px;
    border-radius: 7px;
    /* margin-right: 80px; */
    border: none;
}

.hero5 h2 {
    margin-bottom: 12px;
}

.hero5 p {
    font-size: 12px;
    color: #999999;
}

.footer {
    background-color: #141414;
    color: white;
    border: none;
    padding: 35px 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    max-width: 1360px;
    margin: 0 auto;
}

.footer-right {
    display: flex;
    gap: 60px;
}

.footer-right h3 {
    color: #999999;
    font-weight: 400;
    font-size: 14px;
}

.footer-right h4 {
    font-weight: 300;
    font-size: 12px;
    padding-top: 6px;
}

.footer-left img {
    width: 28px;
    height: 28px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.footer-mail {
    width: 100%;
}

.footer-mail input {
    background-color: #141414;
    border: 1px solid #262626;
    padding: 12px 18px;
    border-radius: 7px;
    width: 100%;
    max-width: 100%;
    color: white;
}

.footer-mail input:focus {
    outline: none;
    border-color: #703BF7;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 14px;

}

.copyright {
    /* text-align: center; */
    color: white;
    min-height: 8vh;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-icon {
    display: flex;
    gap: 20px;
}

.footer-icon img {
    width: 25px;
    height: 25px;

}

.copyright {
    padding: 0 80px;
}


@media (max-width: 768px) {

    header {
        justify-content: space-between;
        padding: 0 20px;
    }

    .navbar {
        display: none;
    }

    .hero {
        flex-direction: column;
    }

    .hero-left {
        padding: 80px 20px;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 32px;
    }

    .hero-text p {
        font-size: 14px;
    }

    .hero-box {
        flex-direction: column;
    }

    .hero-right img {
        width: 100%;
    }

    .card {
        flex-direction: column;
        align-items: center;
    }

    .hero2-img {
        flex-direction: column;
        gap: 20px;
    }

    .hero2-imgg {
        width: 100%;
    }

    .hero-3-img,
    .hero-4-img {
        flex-direction: column;
    }

    .hero5 {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
        gap: 20px;
    }

    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 16px;
        gap: 32px;
    }



    .footer-right {
        gap: 30px;
    }

    .copyright {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .footer-left {
        padding-left: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-right {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        width: 100%;
    }

    .hero-center-logo {
        position: static;
        transform: none;
        margin: 30px auto;
        display: flex;
        justify-content: center;
    }

    .hero-center-logo img {
        width: 90px;
        height: 90px;
    }

}